.calendar {
  font-family: monospace;
  width: 350px;
}

.calendar__year {
  text-align: center;
  padding-bottom: 15px;
}

.calendar__year h3 {
  margin: 0;
}

.calendar__month {
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.calendar__month h5 {
  margin: 0;
  line-height: 1em;
  font-family: Rubik;
  font-size: 1.6rem;
}

.calendar__month span {
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.9rem;
  line-height: 1em;
}

.calendar__days-of-week,
.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__days-of-week {
  padding: 10px 0px;
}

.calendar__days-of-week span {
  font-size: 1.2rem;
  text-align: center;
  color: #4c566a;
  opacity: 0.7;
}

.calendar__dates button:first-child {
  grid-column: 1;
}

.calendar__dates button {
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
}

.calendar__dates button time {
  font-size: 1rem;
  text-align: center;
  color: #2e3440;
}

.calendar__dates button.future time {
  cursor: not-allowed;
  color: #4c566a;
  opacity: 0.7;
}

.calendar__dates button.today time {
  color: #eceff4;
  background-color: #5e81ac;
  border-radius: 50%;
  padding: 5px;
}
