.calendar {
  font-family: monospace;
  width: 350px;
}

.calendar__year {
  text-align: center;
  padding-bottom: 15px;
}

.calendar__year h3 {
  margin: 0;
}

.calendar__month {
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.calendar__month h5 {
  margin: 0;
  line-height: 1em;
  font-family: Rubik;
  font-size: 1.6rem;
}

.calendar__month span {
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.9rem;
  line-height: 1em;
}

.calendar__days-of-week,
.calendar__dates {
  justify-items: center;
  align-items: center;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__days-of-week {
  padding: 10px 0px;
}

.calendar__days-of-week span {
  font-size: 1.2rem;
  text-align: center;
  color: #4c566a;
  opacity: 0.7;
}

.calendar__dates button:first-child {
  grid-column: 1;
}

.calendar__dates button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.calendar__dates button time {
  font-size: 1rem;
  text-align: center;
  color: #2e3440;
}

.calendar__dates button.future {
  cursor: not-allowed;
  color: #4c566a;
  opacity: 0.7;
}

.calendar__dates button.today,
.calendar__dates button.today.selected {
  // deprecated .selected class
  background-color: $main-bg-color;
  border-radius: 50%;
  padding: 5px;
}

.calendar__dates button.today time {
  color: $main-bg-light;
}

.calendar__dates button.selected {
  // deprecated .selected class
  border-color: $main-bg-color;
  border-width: 1px;
  border-radius: 50%;
  border-style: solid;
}

.calendar__dates button.schedule {
  border-bottom: 5px solid $main-bg-color;
}

.calendar__dates button.schedule--up {
  border-bottom-color: rgb(49, 175, 10);
}

.calendar__dates button.schedule--down {
  border-bottom-color: rgb(255, 0, 0);
}

.calendar__dates button.selected time {
  // deprecated .selected class
  color: $main-bg-color;
}

.calendar__dates button.today.selected time {
  // deprecated .selected class
  color: $main-bg-light;
}

.worked-time--equal {
  color: inherit;
}

.worked-time--more {
  color: rgb(49, 175, 10);
}

.worked-time--less {
  color: rgb(255, 0, 0);
}
